@CHARSET "ISO-8859-1";

body, html {
	background-color: #b4b4b4;
	width: calc(100% - 4px);
	height: calc(100% - 4px);
}

#startWindow {
	background-color: #FFF;
	width: 50%;
	height: 50%;
	margin: auto auto;
}